
/* top navbar styling */
.nav {
  background-color: #283268;
  padding: 0;
  margin: 0;
  width: 100%;
  color: white;
  height:50px;
}
.nav-item {
  padding:5px;
  margin: 0 10px;
  color: white;
}
.nav-link {
  color: white !important;
  font-size: 18px; 
}

.nav-item:hover {
  padding:5px;
  margin: 0 10px;
  color: white;
  background-color: #2f3a78;
}

.nav-link.active {
  font-weight: bold;
  color: white;
}
.logo {
  position: absolute;
  left: 10px;
  width: 10px;
  height: 10px;
}
.search-bar {
  flex-direction: column;
  position: absolute;
  right: 5px;
  margin: 7px;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.sidebar, .news-sidebar {
  background: #283268;
  color: white;
  height: 100vh;
  padding-top: 2em;
  border: .5px solid #6c757d;
  width: 16.6667%;

}
.sidebar ul, .news-sidebar ul {
  list-style: none;
  padding: 0;
  
}

.sidebar ul li a, .news-sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover, .news-sidebar ul li a:hover {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
  background-color: #4a90e2;
  color: #ffffff;
  
}

.news-sidebar h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#main-content {
  padding: 0px;
  background-color: #283268;
  color: #283268;
  box-sizing: border-box;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.new-post {
  display: flex;
  align-items: center;
  background-color: #283268;
  padding: 50px;
}

.post-input {
  margin-right: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color:white !important;
  resize: none;
  height: 60px;
  font-size: 25px;
}

.post-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #4a90e2;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.d-block.border.border-secondary {
  border-color: #6c757d;
  box-shadow: none;
}

.card {
  background-color: #283268;
  /* border: 1px solid #6c757d; */
  box-shadow: none;
}
/* 3e4d9e */


.card-body {
  padding: 20px;
  background-color: #283268;
}

.card-body:hover {
  background-color: #2f3a78;
  /* border: 1px solid #6c757d; */
  box-shadow: none;

}


.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: white !important;
  color: #283268;
}

.card-text {
  color: white !important;
  font-size: 16px;
  margin-top: 10px;
  color: #283268;
}


.profile-header {
  background: url('imgs/banner.jpeg') no-repeat center center;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.profile-pic-large {
  height: 250px;
  /* border-radius: 50%;
  border: 5px solid #283268; */
  position: absolute;
  bottom: -150px;
  left: 50px;
}
.profile-info {
  margin-top: 75px;
  padding: 20px;
  color: white;
}
.edit-profile {
  background-color: #6c757d;
  border: 2px solid black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.posts {
  margin-top: 20px;
}
.post {
  background-color: #1c1c1c;
  border: 1px solid #6c757d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* .logo {
  position: absolute;
  left: 20px;
  width: 50px;
  height: auto;
} */


/* sidebar */
/* .sidebar {
  padding: 10;
  width: 5%;
  background-color: #283268;
  padding: 20px;
  box-sizing: border-box;
} */
/* .sidebar {
  width: 5%;
  display:block;
  float:left;
  position:fixed;
  height:100%;
  padding-top: 2em;
  background-color:#283268;
}

.news-sidebar {
  width: 5%;
  display:block;
  float:right;
  position:fixed;
  height:100%;
  padding-top: 2em;
  background-color:#283268;
 */


/* main content */
/* #main-content {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  background-color: #f7f7f7;
  color: #28325C;
  box-sizing: border-box;
}
  

/* news sidebar */
/* .news-sidebar {
  width: 15%;
  display: block;
  float: right;
  position: fixed;
  right: 0;
  height: 100%;
  background: #283268;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #dae3e9;
}
 */

.logo {
  position: absolute;
  left: 20px;
  width: 50px;
  height: auto;
}
.modal-header {
  border-bottom: none;
  padding: 15px 20px;
  background-color: #2f3a78;
}

.modal-content {
  max-width: 800px;
  width: 750px;
  margin: auto;
  background-color:#283268;
}
.modal-body {
  padding: 20px;
  background-color: #283268;
}



html, body {
  height: 100%;
  background-color: #283268;
  margin: 0;
  padding: 0;
  color: white;
}


/* modal stuff */





 
